<a href="https://colab.research.google.com/github/listarova-aleksandra/I_to_I/blob/main/lab_2_Separate_collection_of_information_garbage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа «Раздельный сбор информационного мусора»

**Задача лабораторной - подготовка датасета к дальнейшей работе над ним. Необходимо обработать пропущенные занчения, удалить дубликаты, проанализировать уникальные значения.**

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('music_log.csv')
df

        user_id  total play        Artist    genre                   track
0      BF6EA5AF   92.851388    Marina Rei      pop                  Musica
1      FB1E568E  282.981000  Stive Morgan  ambient             Love Planet
2      FB1E568E  282.981000  Stive Morgan  ambient             Love Planet
3      EF15C7BA    8.966000           NaN    dance     Loving Every Minute
4      82F52E69  193.776327        Rixton      pop  Me And My Broken Heart
...         ...         ...           ...      ...                     ...
67958  2E27DF51  220.551837  Nadine Coyle      pop           Girls On Fire
67959  4F29D4D5   26.127000  Digital Hero    dance               The Model
67960  26B7058C  292.455000       Red God    metal               Действуй!
67961  DB0038A8   11.529112  Less Chapell      pop                    Home
67962  FE8684F6    0.100000           NaN      NaN                     NaN

[67963 rows x 5 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67963 entries, 0 to 67962
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0     user_id   67963 non-null  object
 1   total play  67399 non-null  float64
 2   Artist      59646 non-null  object
 3   genre       64661 non-null  object
 4   track       64804 non-null  object
dtypes: float64(1), object(4)
memory usage: 2.6+ MB

**В этом датесете есть неудобство относительно названий столбцов: они названы хаотично; есть столбец,который начинается с заглавной буквы. В дальнейшей работе это может мешать, поэтому необходимо переименовать столбцы.**

In [7]:
df.columns

Index(['  user_id', 'total play', 'Artist', 'genre', 'track'], dtype='object')

In [9]:
new_names = {
    "user_id": "user_id",
    "total play": "total_play_seconds",
    "Artist": "artist_name",
    "genre": "genre_name",
    "track": "track_name"
}

In [13]:
df.rename(columns=new_names, inplace=True)
df.columns

Index(['  user_id', 'total_play_seconds', 'artist_name', 'genre_name',
       'track_name'],
      dtype='object')

**В датасете есть пропуски, которые могут доставить неудобства при работе с ним.**

In [16]:
number_of_missing_values = df.isnull().sum()
number_of_missing_values

  user_id                0
total_play_seconds     564
artist_name           8317
genre_name            3302
track_name            3159
dtype: int64